{% comment %} Judge.me Review Widget {% endcomment %}
{% assign jdgm_product = jdgm_product | default: product %}
<div class='jdgm-widget jdgm-{{ widget_type }}-widget'
  data-id='{{ jdgm_product.id }}'
  data-product-title='{{ jdgm_product.title | escape }}'
  data-product-handle='{{ jdgm_product.handle }}'>
  {{- jdgm_product.metafields.judgeme.widget -}}
</div>
